Repository taylor-vestal/match-stats-website: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: npx biome lint --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true
  fail_text: 'Linting or formatting failed!
  
    To override (emergency only): git commit -n
  
    '

Fix date/timestamp check constraints. Add missing foreign key cascades. Add game_result_notes to game_results.
  sql/nestris-db-with-comments.sql
  sql/nestris-db.png
  sql/nestris-db.sql
Due: none

Add event_winner_player_id to events & unknowns to game_results
  sql/nestris-db-with-comments.sql
  sql/nestris-db.png
  sql/nestris-db.sql
Due: none

Fix tab/space issue with bitmask table in the comment for the unknowns column of the game_results table
  sql/nestris-db-with-comments.sql
Due: none

use show
  src/components/HeadToHead.tsx
  src/components/PlayerPage.tsx
  src/lib/player.ts
  src/lib/stats-db-impl.ts
  src/lib/stats-db.ts
  src/lib/stats/offense.ts
  src/lib/stats/types.ts
  src/pages/test.astro
Due: lint, format

add slow db check
  src/components/DevPanel.astro
  src/lib/stats-db.ts
Due: lint, format

add query time
  src/pages/test.astro
Due: format

somehow it works ok now?
  package-lock.json
  package.json
  src/components/HeadToHead.tsx
  src/components/PlayerComponents.tsx
  src/components/PlayerPage.tsx
  src/lib/player.ts
Due: lint, format

add game results to comparison page
  src/components/HeadToHead.tsx
  src/components/MatchHistory.tsx
  src/components/ui/table.tsx
  src/lib/stats-db-impl.ts
  src/styles/global.css
Due: lint, format

add tab filters
  src/components/HeadToHead.tsx
  src/components/MatchHistory.tsx
  src/lib/stats-db-impl.ts
  src/lib/stats/h2h.ts
Due: lint, format

fms and the like
  src/components/HeadToHead.tsx
  src/lib/stats/index.ts
  src/lib/stats/player.ts
  src/lib/stats/types.ts
  src/lib/stats/utils.ts
Due: lint, format

improved typing for enum tables
  src/components/HeadToHead.tsx
  src/components/MatchHistory.tsx
  src/components/playstyleFilterToEventPlaystyle.tsx
  src/lib/enums.ts
  src/lib/stats/h2h.ts
  src/lib/stats/player.ts
  src/lib/stats/types.ts
Due: lint, format

Add Matches page content
  package-lock.json
  src/components/MatchesPage.tsx
  src/lib/match.ts
  src/lib/stats-db-impl.ts
  src/lib/stats/types.ts
  src/pages/matches.astro
Due: lint, format

Path conditions:
  lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  format: any of: *.{astro,js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
