Repository taylor-vestal/match-stats-website: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: npx biome lint --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true
  fail_text: 'Linting or formatting failed!
  
    To override (emergency only): git commit -n
  
    '

add basic routes
  src/components/Welcome.astro
  src/pages/all-matches.astro
  src/pages/box-score.astro
  src/pages/event.astro
  src/pages/head-to-head.astro
  src/pages/index.astro
  src/pages/player.astro
Due: format

basic env
  .env.development.example
  .gitignore
Due: none

db interaction
  astro.config.mjs
  package-lock.json
  package.json
  src/db/database.ts
Due: lint, format

Add sql files
  sql/nestris-db-with-comments.sql
  sql/nestris-db.png
  sql/nestris-db.sql
Due: none

rename routes
  src/pages/compare.astro
  src/pages/event.astro
  src/pages/index.astro
  src/pages/lb.astro
  src/pages/match.astro
  src/pages/matches.astro
  src/pages/player.astro
  src/pages/players.astro
Due: format

move file
  src/lib/db/database.ts
Due: lint, format

interface for statistic
  src/lib/db/database.ts
  src/lib/stats/offense.ts
  src/lib/stats/registry.ts
  src/lib/stats/types.ts
  src/lib/stats/utils.ts
Due: lint, format

set up solid-ui
  astro.config.mjs
  package-lock.json
  package.json
  src/layouts/Layout.astro
  src/lib/utils.ts
  src/pages/index.astro
  src/styles/global.css
  tailwind.config.mjs
  tsconfig.json
  ui.config.json
Due: lint, format

add test scene (continued)
  astro.config.mjs
  biome.json
  package-lock.json
  package.json
  src/lib/db/database.ts
  src/lib/stats/offense.ts
  src/lib/stats/types.ts
  src/lib/stats/utils.ts
  src/pages/test.astro
Due: lint, format

db refactor
  src/lib/db/database.ts
  src/lib/db/stats-db.ts
  src/lib/stats/index.ts
  src/lib/stats/offense.ts
  src/lib/stats/types.ts
  src/pages/test.astro
Due: lint, format

fix path aliases
  src/lib/db/stats-db.ts
  src/lib/stats/index.ts
  src/lib/stats/offense.ts
  src/lib/stats/types.ts
  src/lib/stats/utils.ts
Due: lint, format

add claude file
  CLAUDE.md
Due: none

remove comments
  src/lib/stats/types.ts
Due: lint, format

move db file
  src/lib/stats-db.ts
  src/lib/stats/offense.ts
  src/lib/stats/types.ts
  src/pages/test.astro
Due: lint, format

convert player id to string
  CLAUDE.md
  src/lib/stats-db.ts
  src/lib/stats/types.ts
Due: lint, format

add player type
  src/lib/player.ts
Due: lint, format

download avatars script
  .gitignore
  package-lock.json
  package.json
  scripts/download-avatars.ts
  src/lib/player.ts
Due: lint, format

fix bugs
  scripts/download-avatars.ts
  src/lib/player.ts
  src/pages/test.astro
Due: lint, format

update docs
  CLAUDE.md
  README.md
Due: none

remove tsx dependency
  CLAUDE.md
  package-lock.json
  package.json
Due: lint, format

Fix tailwind integration placement in astro config
  astro.config.mjs
Due: lint, format

add devpanel
  README.md
  astro.config.mjs
  src/components/DevPanel.astro
  src/layouts/Layout.astro
Due: lint, format

add navbar
  package-lock.json
  package.json
  src/components/DevPanel.astro
  src/components/Nav.tsx
  src/layouts/Layout.astro
Due: lint, format

remove unused component
  src/components/Welcome.astro
Due: format

test commit
  package-lock.json
  src/pages/lb.astro
Due: lint, format

Recombine game_results and detailed_game_results into one table. Update comments to reflect usage of match_types. Correct length check for match_timestamp.
  sql/nestris-db-with-comments.sql
  sql/nestris-db.png
  sql/nestris-db.sql
Due: none

dynamically load statsdb
  src/lib/player.ts
  src/lib/stats-db-impl.ts
  src/lib/stats-db.ts
  src/pages/test.astro
Due: lint, format

minor qol
  src/components/DevPanel.astro
  src/components/Nav.tsx
  src/layouts/Layout.astro
Due: lint, format

add h2h layout
  src/components/DevPanel.astro
  src/components/HeadToHead.tsx
  src/pages/compare.astro
  src/styles/HeadToHead.css
Due: lint, format

refactor
  src/components/HeadToHead.tsx
Due: lint, format

player selector and images
  src/components/HeadToHead.tsx
  src/lib/player.ts
Due: lint, format

add solid icons
  package-lock.json
  package.json
Due: lint, format

add icons
  src/components/HeadToHead.tsx
  src/lib/player.ts
  src/styles/HeadToHead.css
Due: lint, format

add remaining stats
  src/components/HeadToHead.tsx
  src/styles/HeadToHead.css
  tailwind.config.mjs
Due: lint, format

match history table
  src/components/HeadToHead.tsx
Due: lint, format

also forgot this
  src/components/MatchHistory.tsx
Due: lint, format

forgot to commit ui components lmaooo
  src/components/ui/badge.tsx
  src/components/ui/card.tsx
  src/components/ui/combobox.tsx
  src/components/ui/select.tsx
  src/components/ui/table.tsx
Due: lint, format

player page it's kind of slop but it's like so underconstrained rn
  CLAUDE.md
  src/components/HeadToHead.tsx
  src/components/PlayerPage.tsx
  src/components/PlayerPicker.tsx
  src/components/ui/tabs.tsx
  src/lib/player.ts
  src/lib/stats-db-impl.ts
  src/pages/player.astro
  src/styles/PlayerPage.css
Due: lint, format

add icons
  src/components/HeadToHead.tsx
  src/components/PlayerComponents.tsx
  src/components/PlayerPage.tsx
  src/components/PlayerPicker.tsx
Due: lint, format

add query params for h2h
  src/components/HeadToHead.tsx
Due: lint, format

Path conditions:
  lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  format: any of: *.{astro,js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
